[buildout]
parts +=
    code-analysis
    createcoverage
    test
versions = versions
package-name = venusianconfiguration
package-extras = [test]
test-eggs =

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = src
pre-commit-hook = True
flake8 = True
flake8-ignore = E501
return-status-codes = True

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}

[versions]
flake8 = 3.3.0
pycodestyle = 2.0.0

setuptools =
zc.buildout =

# develop = . demo
# versions = versions

# [instance]
# eggs +=
#     sauna.reload
#     venusianconfigdemo
# zope-conf-additional =
#     %import sauna.reload
#     %import venusianconfiguration
